* {
  box-sizing: border-box;
}

/* Homepage Styles */

.container-fluid {
  padding: 0;
}

.header {
  max-width: 100vw;
  height: auto;
}

.header-img {
  width: 100%;
}

.nav-container {
  margin: 0;
  max-width: 100vw;
}

.navbar {
  background-color: #333333;
}

.navbar-expand {

}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel-item img {
  width: 100vw;
  height: auto;
}

.page-content, .hp-nonprofit-text {
  padding: 2rem;
}

.float-img.left {
  float: left;
  margin-right: 1rem;
}

.float-img.right {
  float: right;
  margin-left: 1rem;
}

.footer {
  color: white;
  background-color: #333333;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0 1rem;
}

.optometrist-img {
  width: 60vw;
  min-width: 200px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.cliffs-img {
  width: 60vw;
  min-width: 200px;
}

.vp-img {
  margin-bottom: 1rem;
}

.vp-img:last-of-type {
  margin-bottom: 0;
}

